#foglayer_01,
#foglayer_02,
#foglayer_03 {
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02{
    position: absolute;
    float: left;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
}
#foglayer_01 .image01 {
    -webkit-animation:
        foglayer_01_opacity 10s linear infinite,
        foglayer_moveme 10s linear infinite;
    -moz-animation:
        foglayer_01_opacity 10s linear infinite,
        foglayer_moveme 10s linear infinite;
    animation:
        foglayer_01_opacity 10s linear infinite,
        foglayer_moveme 10s linear infinite;
}
#foglayer_02 .image02{
    -webkit-animation:
        foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 8s linear infinite;
    -moz-animation:
        foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 8s linear infinite;
    animation:
        foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 8s linear infinite;
}

#foglayer_01 .image01,
#foglayer_01 .image02 {
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png');
    background-size: 200%;
    opacity: 0.4;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
    background: url('https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png');
    background-size: 200%;
    opacity: 0.4;
}

@-webkit-keyframes foglayer_01_opacity {
    0% {
        opacity: 0.1;
    }
    22% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.28;
    }
    58% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.16;
    }
    100% {
        opacity: 0.1;
    }
}
@-moz-keyframes foglayer_01_opacity {
    0% {
        opacity: 0.1;
    }
    22% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.28;
    }
    58% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.16;
    }
    100% {
        opacity: 0.1;
    }
}
@-o-keyframes foglayer_01_opacity {
    0% {
        opacity: 0.1;
    }
    22% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.28;
    }
    58% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.16;
    }
    100% {
        opacity: 0.1;
    }
}
@keyframes foglayer_01_opacity {
    0% {
        opacity: 0.1;
    }
    22% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.28;
    }
    58% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.16;
    }
    100% {
        opacity: 0.1;
    }
}


@-webkit-keyframes foglayer_02_opacity {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}
@-moz-keyframes foglayer_02_opacity {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}
@-o-keyframes foglayer_02_opacity {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}
@keyframes foglayer_02_opacity {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.1;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}


@-webkit-keyframes foglayer_moveme {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@-moz-keyframes foglayer_moveme {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@-o-keyframes foglayer_moveme {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes foglayer_moveme {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    #foglayer_01 .image01,
    #foglayer_01 .image02,
    #foglayer_02 .image01,
    #foglayer_02 .image02{
        width: 100%;
    }
}