.counter {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--accent);
    background: var(--accent-bg);
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 24px;

    &:hover {
        border-color: var(--accent-border);
    }
    &:focus-visible {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
    }
}

.hero {
    position: relative;

    .base,
    .framework,
    .vite {
        inset-inline: 0;
        margin: 0 auto;
    }

    .base {
        width: 170px;
        position: relative;
        z-index: 0;
    }

    .framework,
    .vite {
        position: absolute;
    }

    .framework {
        z-index: 1;
        top: 34px;
        height: 28px;
        transform: perspective(2000px) rotateZ(300deg) rotateX(44deg)
            rotateY(39deg) scale(1.4);
    }

    .vite {
        z-index: 0;
        top: 107px;
        height: 26px;
        width: auto;
        transform: perspective(2000px) rotateZ(300deg) rotateX(40deg)
            rotateY(39deg) scale(0.8);
    }
}

.bgGradient-left {
    /* background: #010f09;
    background: linear-gradient(
        90deg,
        rgba(1, 15, 9, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    ); */
    background-image: url('./assets/image/bg-gradient-left.png');
}
.bgGradient-right {
    /* background: #010f09;
    background: linear-gradient(
        90deg,
        rgba(1, 15, 9, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    ); */
    background-image: url('./assets/image/bg-gradient-right.png');
    background-position: right;
}

.tier-bronze {
    background: linear-gradient(
        180deg,
        #f7c58a 0%,
        #d98b42 25%,
        #b96d2f 50%,
        #8c4f1f 75%,
        #f0b06a 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 700;
    letter-spacing: 2px;

    text-shadow:
        0 0 10px rgba(217, 139, 66, 0.4),
        0 0 20px rgba(140, 79, 31, 0.3);
}

.tier-gold {
    background: linear-gradient(
        180deg,
        #f6ca4e 0%,
        #ffe64d 25%,
        #c98b19 50%,
        #bd7707 75%,
        #fff47e 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 700;
    letter-spacing: 2px;

    text-shadow:
        0 0 10px rgba(194, 122, 3, 0.4),
        0 0 20px rgba(72, 46, 11, 0.3);
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    z-index: 99;
}
.progress-bar .progress {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    z-index: 99;
    /* background: linear-gradient(90deg, #228B22  0%, #409d40 40%, #98FF98 100%); */
    background: linear-gradient(90deg, #00A86B 0%, #00A86B 40%, #50C878 100%);
    /* background: linear-gradient(90deg, #008B8B 0%, #008B8B 40%, #00CED1 100%); */

}
.progress-bar .tooltip-progress {
    position: absolute;
    top: 10px;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 99;
}
.progress-bar .tooltip-progress::before {
    content: ' ';
    position: absolute;
    top: -4px;
    left: 10px;
    margin: auto;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    z-index: 1;
}

.tier-silver {
    background: linear-gradient(
        180deg,
        #a4b0b7 0%,
        #acbcc6 25%,
        #7d95a5 50%,
        #5a6d7c 75%,
        #9ba8b0 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 700;
    letter-spacing: 2px;

    text-shadow:
        0 0 10px rgba(18, 26, 28, 0.4),
        0 0 20px rgba(34, 46, 55, 0.3);
}
